
* {
    box-sizing: border-box;
}


header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav {
    float: left;
    width: 30%;
    height: 300px;
    padding: 20px;
   background: #ccc;
}
nav ul {
    list-style-type: disc;
    padding: 0%;   
}

article {
    float: right;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
}
footer {
    padding: 10px;
    background-color: #777;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
}


