h1{
    background-color: red;
    color:  black;
    font-weight: bold;
    text-align: center;

}
div li p{   /* if p is contained by any li that is inside a div */
    color: aliceblue;
    background-color: blue;
    font-weight: bold;
}
 ul p{
    color: black;
    background-color: blueviolet;
}
 div > p{    /* if p is right inside div or a direct child of div */
    color: yellow;
    background-color: green;
    font-weight: bold;
} 
div + p{    /* if p is right after closed tag of div  */
    color: tomato;
    background-color: teal;
}